In [58]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [59]:
data = pd.read_csv('logistic_results.csv')

In [60]:
data_data1 = data.loc[data['Data_set'] == 'wine.data']
argmax1 = data_data1.iloc[data_data1['F-score'].values.argmax()]
data_data2 = data.loc[data['Data_set'] == 'diabetes.data']
argmax2 = data_data2.iloc[data_data2['F-score'].values.argmax()]
data_data3 = data.loc[data['Data_set'] == 'seeds.data']
argmax3 = data_data3.iloc[data_data3['F-score'].values.argmax()]

In [61]:
fil_data = pd.DataFrame([argmax1, argmax2, argmax3])
fil_data

         Data_set  CV Penalty  Accuracy   F-score
14      wine.data   7      l2  0.994505  0.994319
37  diabetes.data   3      l2  0.776060  0.742929
68     seeds.data   7      l2  0.952381  0.952321

In [66]:
data = pd.read_csv('ensemble_logistic_results.csv')
data_data4 = data.loc[data['Data_set'] == 'wine.data']
argmax4 = data_data4.iloc[data_data4['F-score'].values.argmax()]
data_data5 = data.loc[data['Data_set'] == 'diabetes.data']
argmax5 = data_data5.iloc[data_data5['F-score'].values.argmax()]
data_data6 = data.loc[data['Data_set'] == 'seeds.data']
argmax6 = data_data6.iloc[data_data6['F-score'].values.argmax()]
fil_data2 = pd.DataFrame([argmax4, argmax5, argmax6])
fil_data2

,Data_set,Boot,Max_sample,Cv,Max_feature,Number_of_est,Accuracy,F-score
1,wine.data,False,2,2,2,5,0.540152,0.426732
9,diabetes.data,False,2,2,2,5,0.589844,0.438368
16,seeds.data,True,2,2,2,5,0.671429,0.609468