In [58]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [74]:
data = pd.read_csv('logistic_results.csv')
data_data1 = data.loc[data['Data_set'] == 'wine.data']
argmax1 = data_data1.iloc[data_data1['F-score'].values.argmax()]
data_data2 = data.loc[data['Data_set'] == 'diabetes.data']
argmax2 = data_data2.iloc[data_data2['F-score'].values.argmax()]
data_data3 = data.loc[data['Data_set'] == 'seeds.data']
argmax3 = data_data3.iloc[data_data3['F-score'].values.argmax()]
fil_data = pd.DataFrame([argmax1, argmax2, argmax3])
fil_data

         Data_set  CV Penalty  Accuracy   F-score
14      wine.data   7      l2  0.994505  0.994319
37  diabetes.data   3      l2  0.776060  0.742929
68     seeds.data   7      l2  0.952381  0.952321

In [105]:
for d in ['wine.data', 'diabetes.data', 'seeds.data']:    
    process_data = data.loc[data['Data_set'] == d].round(2)
    print(pd.pivot_table(process_data, values = 'F-score', index='Penalty', columns = 'CV').reset_index().to_latex(index=False))

\begin{tabular}{lrrrrrrrrr}
\toprule
    Penalty &     2 &     3 &     4 &     5 &     6 &     7 &     8 &     9 &    10 \\
\midrule
 elasticnet &  0.97 &  0.97 &  0.98 &  0.98 &  0.98 &  0.97 &  0.97 &  0.96 &  0.99 \\
         l1 &  0.95 &  0.98 &  0.96 &  0.99 &  0.98 &  0.98 &  0.97 &  0.96 &  0.99 \\
         l2 &  0.97 &  0.96 &  0.96 &  0.99 &  0.97 &  0.99 &  0.98 &  0.98 &  0.99 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrrrrrrrr}
\toprule
    Penalty &     2 &     3 &     4 &     5 &     6 &     7 &     8 &     9 &    10 \\
\midrule
 elasticnet &  0.68 &  0.72 &  0.72 &  0.71 &  0.72 &  0.68 &  0.69 &  0.71 &  0.69 \\
         l1 &  0.59 &  0.67 &  0.73 &  0.73 &  0.71 &  0.67 &  0.71 &  0.70 &  0.71 \\
         l2 &  0.61 &  0.74 &  0.61 &  0.73 &  0.71 &  0.67 &  0.71 &  0.69 &  0.70 \\
\bottomrule
\end{tabular}

\begin{tabular}{lrrrrrrrrr}
\toprule
    Penalty &     2 &     3 &     4 &     5 &     6 &     7 &     8 &     9 &    10 \\
\midrule
 elasticnet &  0.90 &  0.91 &  0.91 &  0.94 &  0.93 &  0.93 &  0.89 &  0.94 &  0.92 \\
         l1 &  0.91 &  0.91 &  0.92 &  0.90 &  0.94 &  0.93 &  0.93 &  0.94 &  0.91 \\
         l2 &  0.90 &  0.91 &  0.91 &  0.91 &  0.89 &  0.95 &  0.93 &  0.91 &  0.92 \\
\bottomrule
\end{tabular}

In [106]:
data = pd.read_csv('ensemble_logistic_results.csv')
data_data4 = data.loc[data['Data_set'] == 'wine.data']
argmax4 = data_data4.iloc[data_data4['F-score'].values.argmax()]
data_data5 = data.loc[data['Data_set'] == 'diabetes.data']
argmax5 = data_data5.iloc[data_data5['F-score'].values.argmax()]
data_data6 = data.loc[data['Data_set'] == 'seeds.data']
argmax6 = data_data6.iloc[data_data6['F-score'].values.argmax()]
    
fil_data2 = pd.DataFrame([argmax4, argmax5, argmax6])
fil_data2

          Data_set  Cv  Number_of_est  Learning_rate  Accuracy   F-score
126      wine.data   6             60            0.4  0.988889  0.989256
356  diabetes.data   2             50            1.2  0.776042  0.744532
652     seeds.data   2             80            0.4  0.928571  0.928708

In [120]:
for d in ['wine.data', 'diabetes.data', 'seeds.data']:    
    process_data = data.loc[data['Data_set'] == d].round(2)

process_data = data.loc[data['Data_set'] == 'wine.data'].round(2)
process_data
# print(pd.pivot_table(process_data, values = 'F-score', index='Number_of_est', columns = 'Cv').reset_index().to_latex(index=False))
print(pd.pivot_table(process_data, values = 'F-score', index=['Learning_rate', 'Cv'], columns = 'Number_of_est').to_latex())

\begin{tabular}{llrrrrrrrrrr}
\toprule
    & Number\_of\_est &   10  &   20  &   30  &   40  &   50  &   60  &   70  &   80  &   90  &   100 \\
Learning\_rate & Cv &       &       &       &       &       &       &       &       &       &       \\
\midrule
0.2 & 2 &  0.98 &  0.97 &  0.98 &  0.98 &  0.97 &  0.97 &  0.97 &  0.96 &  0.97 &  0.98 \\
    & 4 &  0.98 &  0.97 &  0.98 &  0.98 &  0.97 &  0.96 &  0.97 &  0.96 &  0.98 &  0.96 \\
    & 6 &  0.98 &  0.98 &  0.97 &  0.97 &  0.98 &  0.98 &  0.97 &  0.97 &  0.97 &  0.97 \\
    & 8 &  0.98 &  0.98 &  0.98 &  0.97 &  0.96 &  0.97 &  0.97 &  0.98 &  0.94 &  0.96 \\
0.4 & 2 &  0.97 &  0.97 &  0.96 &  0.98 &  0.99 &  0.98 &  0.96 &  0.95 &  0.97 &  0.97 \\
    & 4 &  0.97 &  0.98 &  0.98 &  0.97 &  0.96 &  0.95 &  0.98 &  0.98 &  0.96 &  0.96 \\
    & 6 &  0.97 &  0.97 &  0.97 &  0.96 &  0.96 &  0.99 &  0.97 &  0.98 &  0.97 &  0.97 \\
    & 8 &  0.98 &  0.98 &  0.97 &  0.97 &  0.98 &  0.98 &  0.96 &  0.98 &  0.96 &  0.98 \\
0.6 & 2 &  0.98 &  0.95 &  0.98 &  0.98 &  0.98 &  0.97 &  0.97 &  0.98 &  0.97 &  0.98 \\
    & 4 &  0.97 &  0.96 &  0.96 &  0.96 &  0.98 &  0.98 &  0.97 &  0.96 &  0.97 &  0.95 \\
    & 6 &  0.98 &  0.97 &  0.98 &  0.98 &  0.98 &  0.97 &  0.97 &  0.99 &  0.97 &  0.98 \\
    & 8 &  0.97 &  0.96 &  0.97 &  0.98 &  0.99 &  0.97 &  0.97 &  0.97 &  0.98 &  0.97 \\
0.8 & 2 &  0.97 &  0.95 &  0.99 &  0.95 &  0.96 &  0.98 &  0.98 &  0.96 &  0.95 &  0.98 \\
    & 4 &  0.97 &  0.98 &  0.98 &  0.96 &  0.98 &  0.96 &  0.97 &  0.97 &  0.97 &  0.97 \\
    & 6 &  0.98 &  0.98 &  0.97 &  0.98 &  0.97 &  0.98 &  0.97 &  0.96 &  0.97 &  0.97 \\
    & 8 &  0.98 &  0.96 &  0.98 &  0.98 &  0.97 &  0.97 &  0.96 &  0.97 &  0.97 &  0.97 \\
1.0 & 2 &  0.97 &  0.97 &  0.97 &  0.94 &  0.98 &  0.95 &  0.95 &  0.98 &  0.98 &  0.96 \\
    & 4 &  0.98 &  0.98 &  0.97 &  0.96 &  0.97 &  0.98 &  0.97 &  0.98 &  0.96 &  0.97 \\
    & 6 &  0.98 &  0.97 &  0.97 &  0.98 &  0.98 &  0.97 &  0.94 &  0.98 &  0.97 &  0.99 \\
    & 8 &  0.98 &  0.97 &  0.98 &  0.97 &  0.97 &  0.97 &  0.97 &  0.99 &  0.97 &  0.97 \\
1.2 & 2 &  0.97 &  0.94 &  0.97 &  0.98 &  0.98 &  0.97 &  0.96 &  0.97 &  0.97 &  0.97 \\
    & 4 &  0.98 &  0.97 &  0.97 &  0.95 &  0.98 &  0.98 &  0.96 &  0.98 &  0.96 &  0.95 \\
    & 6 &  0.98 &  0.97 &  0.98 &  0.97 &  0.97 &  0.97 &  0.97 &  0.98 &  0.98 &  0.96 \\
    & 8 &  0.97 &  0.97 &  0.97 &  0.98 &  0.96 &  0.97 &  0.96 &  0.98 &  0.98 &  0.98 \\
\bottomrule
\end{tabular}