In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
data = pd.read_csv('mlp_results.csv')

In [7]:
data_data1 = data.loc[data['Data_set'] == 'wine.data']
argmax1 = data_data1.iloc[data_data1['F-score'].values.argmax()]
data_data4 = data.loc[data['Data_set'] == 'diabetes.data']
argmax2 = data_data4.iloc[data_data4['F-score'].values.argmax()]
data_data5 = data.loc[data['Data_set'] == 'seeds.data']
argmax3 = data_data5.iloc[data_data5['F-score'].values.argmax()]

In [8]:
fil_data = pd.DataFrame([argmax1, argmax2, argmax3])
fil_data

          Data_set Layer_size Activation  CV Solver  Accuracy   F-score
72       wine.data      (25,)       relu   2   adam  0.977399  0.977903
314  diabetes.data      (25,)       relu   6   adam  0.774872  0.740218
536     seeds.data      (20,)       relu   2   adam  0.923810  0.923725